@tailwind base;
@tailwind components;
@tailwind utilities;

@supports not (color: oklch(0 0 0)) {
  :root {
    color-scheme: light;
    --fallback-p: #2267e6;
    --fallback-pc: #d4dbff;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --fallback-p: #2267e6;
      --fallback-pc: #d4dbff;
    }
  }
}
